
html, body{
	margin:0;
	padding-top: 0;
	font-size: 14px;
	color: #000;
	height: 100%;
	font-family: sans-serif;
	margin-bottom: 20px;
}

@media only screen and (max-width: 900px) {
  	#bigmap {
		width: 100%;
		height: 60%;
	}
	#intro{
		background-color: #fff;
		padding: 20px 20px 10px 20px;
		position: static;
	}
	#content{
		background-color: #000;
		padding: 0 20px 20px 20px;
		position: static;
	}
	#intro{
		margin: 20px;
	}
	

}
@media only screen and (min-width: 900px) {
  	#bigmap {
  		position: fixed;
		width: 100%;
		height: 100%;
	}
	#intro{
		position: absolute;
		z-index: 10000;
		left: 0;
		top: 30px;
		width: 200px;
		background-color: #fff;
		padding: 20px;
		border-right: 5px solid #000;
	}
	#content{
		position: absolute;
		z-index: 10000;
		right: 0;
		top: 30px;
		width: 350px;
		background-color: #fff;
		border-left: 5px solid #000;
		padding: 20px;
		margin-bottom: 30px;
		max-height: 85%;
		overflow-y: scroll;
	}

}

h1{
	font-size: 24px;
	margin-top: 0;
}
h3{
	border-bottom: 1px solid #000;
	padding-bottom: 18px;
	margin-bottom: 18px;
}
h5{
	margin-bottom: 4px;
}
a{
	color: #de0000;
	text-decoration: none;
}
ul a, a.btn{
	background-color: #de0000;
	color: #fff;
	display: inline-block;
	margin: 1px 3px;
	width: 16px;
	font-weight: bold;
	font-size: 12px;
	text-align: center;
}
ul{
	padding: 0;
}
li{
	list-style-type: none;

	margin: 0 0 12px 0;
}
em{
	color: #7a7a7a;
}
.leaflet-left .leaflet-control{
	margin-bottom: 30px;
	margin-left: 30px;
}
.leaflet-container .leaflet-control-attribution{
	color: #000;
}
.leaflet-control-attribution a{
	color: #000;
}
.leaflet-touch .leaflet-control-layers, .leaflet-touch .leaflet-bar{
	border: 2px solid #000;
}
.loader {
  border: 10px solid #f3f3f3; /* Light grey */
  border-top: 10px solid #000; /* Blue */
  border-radius: 50%;
  width: 30px;
  height: 30px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
